@model AddPostVm
@{
    if (Model.Message == null && Model.TargetUsername != null)
        Model.Message = $"@{Model.TargetUsername} ";

}


    <form method="post" action="@Url.Action("Post")" class="mt-3" id="addPostForm">

        <input type="hidden" name="@nameof(Model.StatementId)" value="@Model.StatementId" />
        <input type="hidden" name="@nameof(Model.ReplyTo)" value="@Model.ReplyTo" />

        <div class="input-group">

            <div class="form-floating">
                <textarea name="@nameof(Model.Message)" @(Session.GetString("Username") == null ? "onclick=openLoginModal()" : "" )
                      class="form-control border-primary dark-textarea add-post-textarea"
                          placeholder="Leave a comment here">@Model.Message</textarea>
                <label >add your comment..</label>
            </div>


            <button class="btn btn-primary" 
                @(ViewData["IsModal"] == "true" ? 
                    "type=button onclick=timeline.postStatementUpdate(this)" : 
                    "type=submit")>
                <i class="bi bi-feather"></i>
                Post
            </button>

        </div>


    </form>





        @if (ViewData["IsModal"] == "true" ){
            <script>
                mentions.init();
            </script>
        }
        else {
            <script>
                $(document).ready(function () {
                    mentions.init();
                });
            </script>
        }

    

