@model ft_StatementWithStats
@{

    var login = Session.GetInt32("LoginId").HasValue.ToString().ToLower();

    string likeClass = "", repostClass = "", 
        likeIcon = "star", 
        repostIcon = "repeat";

    if (Model.IsLike )
    {
        likeClass = "placed";
        likeIcon += "-fill";
    }
    if (Model.IsRepost )
    {
        repostClass = "placed";
        repostIcon += "-1";
    }


}

<div class="border-post border-top px-3 pt-2 mt-2 pt-sm-3 mt-sm-3 row stats">

    <div class="col-auto">
        @if (Model.AuthorId == Session.GetInt32("LoginId"))
        {
            <span onclick="statFunc(this, @login, 'post-id', @Model.StatementId)" class="btn border-light btn-secondary btn-sm">
                <i class="bi bi-pencil"></i>
                Edit 
            </span>

        }
        else
        {
            <span onclick="statFunc(this, @login, 'post-replyTo', @Model.StatementId)" class="cursor-pointer">
                <i class="bi bi-chat"></i>
                @Model.ReplyCount
            </span>
        }        
    </div>

    <div class="col-auto stats-like">
        <span onclick="statFunc(this, @login, 'like', @Model.StatementId )" class="cursor-pointer @likeClass">
            <i class="bi bi-@likeIcon"></i>
            <span class="stat-count">
                @Model.LikeCount
            </span>            
        </span>
    </div>

    <div class="col-auto stats-repost">
        <span onclick="statFunc(this, @login, 'repost', @Model.StatementId )" class="cursor-pointer @repostClass">
            <i class="bi bi-@repostIcon"></i>
            <span class="stat-count">
                @Model.RepostCount
            </span>
        </span>
    </div>
    
    <div class="col-auto stats-repost">
        <span >
            <i class="bi bi-bar-chart"></i>
            <span class="stat-count">
                @Model.ViewCount
            </span>
        </span>
    </div>

</div>